body {
	background: #f7f7f7;
}

#header {
	background:#25313E;
	height:50px;
	padding-left:220px;
	position: fixed;
	width:100%;
}

#header .logo {
	position: absolute;
	left:0;
}

#header .logo > a {
	color: #ADBECE;
	text-decoration: none;
	line-height: 50px;
	text-align: left;
	display: block;
	width: 220px;
	text-indent: 10px;
}

#header .logo > a:hover {
	color: #FFF;
}

#menu {
	background: #41586e;
	position: fixed;
	width:220px;
	height:100%;
	margin: 50px 0 20px 0;
}

#menu .nav li {
	padding:11px 15px;
	font:14px/21px Helvetica;
	border-top: 1px solid #495f74;
}

#menu .nav a {
	color:#adbece;
	display: block;
	text-decoration: none;
}

#menu .nav a:hover {
	color:#FFF;
}

#footer {
	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	height:30px;
	background: #374b5e;
	font:10px/30px Helvetica;
	color: #FFF;
	text-align: right;
}

#footer p {
	position: relative;
	left:-10px;
}

#main {
	padding-top: 50px;
	padding-left: 220px;
	background: #f7f7f7;
}

#main p {
	height:300px;
}

.frwrap {
	border-top: 1px solid #CCC;
	padding:10px 0;
	margin-top: 5px;
	text-align: right;
	display: block;
}

#codeedit_01 {height:100%;}